<!-- <iframe src="http://24tv.ua/" 
    allowTransparency="true" scrolling="no" frameborder="0">
</iframe> -->
<p>10 нових українських пісень, які вас вразять
    18:00 , 21 жовтня 639
   10 нових українських пісень, які вас вразять - фото 1 6
   популярне
   Трішки тепла: нідерландський дизайнер створила ідеальну куртку - Радіо Максимум
   Гайтана потішила шанувальників стильним образом - Радіо Максимум
   Ідеальна Україна в кліпі Pianoбой, містичне відео Фагота на пісню-саундтрек "Сторожової застави", а також провокаційна новинка від проекту "Жадан і Собаки". Радіо МАКСИМУМ пропонує вашій увазі щотижневу рубрику про новинки в українській музиці.
   Готові зацінити нові українські пісні? Гайда!
   
   Це цікаво: 15 пісень про захисників України, які неможливо слухати без сліз
   
   Pianoбой – Полуничне Небо (кліп)
   Український музикант, соліст проекту Pianoбой і суддя "Х-фактора" Дмитро Шуров представив кліп на свою нову пісню. За словами музиканта, "Полуничне Небо" – найдобріша та найромантичніша композиція в його творчості. Відтак, вся команда, яка брала участь в зйомках кліпу, хотіла візуалізувати собі ідеальну країну.
   
   "У відео, як, власне, і в пісні, є фарби з усього світу, і поєднання енергії різних, але прекрасних людей, які прожили один день в гармонії один з одним. Все це – те, що Україна зможе в неосяжній мірі дати світу, як тільки по-справжньому відкриє в собі", – наголосив Дмитро Шуров.
   
   Ось якою може бути ідеальна Україна:
   
   
   Відзначимо, що в кліпі на пісню "Полуничне Небо" Pianoбой мигцем показав свою дружину і сина. До слова, хлопчик вже знімався в кліпі тата – у відео на пісню "На Вершині".
   
   Фагот – МАНТРА (кліп)
   Лідера групи "ТНМК" Фагот опублікував кліп на пісню МАНТРА, яка увійшла до саундтреку українського фентезі-фільму "Сторожова Застава". Відзначимо, що в стрічці Фагот зіграв роль вартового міста Римова. За словами вокаліста ТНМК, пісня МАНТРА – це молитва перед боєм. Промовляючи"Броня на мені, Господь у мені", вояки захищали себе від поранення та гибелі на полі бою.
   
   Нове містичне відео передає тему боротьби Добра зі Злом, що своєю чергою перегукується з сюжетом фільму "Сторожова Застава". Подивіться самі:
   
   
   Тоня Матвієнко – Душа
   Українська співачка Тоня Матвієнко представила ліричну пісню "Душа" і показала зворушливий кліп із кадрами свого весілля з Арсеном Мірзояном. Відзначимо, що автором душевної пісні виступила солістка гурту Lama.
   
   "Це позитивна, радісна пісня. Хочеться, щоб ті дівчата і жінки, які ще не пізнали любов, відчули це почуття через цю композицію. Вона про внутрішній стан моєї душі, адже я - щаслива жінка: кохаю і кохана, чого бажаю всім людям", – розповіла про нову пісню Тоня.
   
   Цікаво, що шанувальники співачки зробили їй несподіваний подарунок – презентацію фотографій з весільної церемонії. У ролику показані всі найбільш зворушливі моменти того радісного дня в житті виконавців. Вийшло дуже атмосферно:
   
   
   Друга Ріка – ТИ Є Я (кліп)
   Новий кліп "Другої Ріки" можна назвати однією із наймістичніших робіт гурту. Над відео працювала українська режисерка Анна Бурячкова. Вона хотіла показати історію загадкової дівчини, життя якої змінюється через учасників гурту "Друга Ріка". Фронтмен гурту Валерій Харчишин зізнався, що сюжет пісні дуже нагадує історію його життя, додавши, що ця пісня, як і будь-яка інша, починається з любові.
   
   Зацініть і ви:
   
   
   Epolets – Одна (кліп)
   Рок-гурт з Одеси Epolets потішив свіжим відео на ліричну пісню "Одна". Команда, яка починала з каверів, випустила вже восьмий доволі відвертий ролик. Сподіваємось, талановиті українці й надалі будуть активно здобувати свою аудиторію.
   
   "Ця пісня – про пережите мною розставання з дівчиною. Сама по собі композиція стала для мене дуже великим одкровенням, тому мені не хотілося, щоб кліп був тісно пов'язаний з її історією і, тим більше, дослівно описував те, про що вона," – поділився лідер гурту Павло Варениця. Рекомендуємо:
   
   
   Пройди тест: Як добре ти знаєш хіти Океану Ельзи?
   
   Жадан і Собаки – Бухло (кліп)
   Український гурт "Жадан і Собаки" показав провокаційний кліп на пісню "Бухло", головною темою якого є алкоголізм. Учасники колективу Сергія Жадана розповіли, що написали трек минулої зими, коли від алкоголізму у досить молодому віці помер їхній знайомий.
   
   "Ось йому цю пісню й присвячено. Всі ми ламані господньою любов'ю, всі ми нею й тримаємось", – зазначив сам Жадан. Тож, нехай "Бухло" стане засторогою для всіх любителів зайвої чарки спиртного:
   
   
   Сальто Назад – Її (кліп)
   Гурту "Сальто Назад", який підкорив українців під час останнього відбору на Євробачення, представили новий кліп на пісню "Її". За словами режисерів кліпу, їхньою рушійною силою у цьому проекті стала причудлива харизма вокаліста гурту Саші Таба.
   
   Вони також додають, що у цій роботі намагалися розповісти глядачу побутову історію героя, настільки захопленого своєю уявою, що його природна і не завжди контрольована здатність творити особисті інтимні світи, призводить часом до зовсім несподіваних ситуацій. Зрештою, у цій непередбачуваності і є сила творчості. Нумо творити разом:
   
   
   Фіолет – П’яні мости
   Гурт "Фіолет" презентував другий сингл з майбутнього, четвертого за ліком альбому. Як поділився лідер колективу Сергій Мартинюк, свіжа композиція є історією про його порозуміння зі столицею, піснею-зізнанням у любові до Києва, а також оптимістичним поглядом у світле майбуття.
   
   Текст та мелодика "П'яних мостів" народилися у жовтні 2016 року, коли Сергій (він же Колос), після довгих сумнівів та вагань вирішив перебратися з Луцька до Києва. Роботу над формуванням аранжування було розпочато ще з попереднім складом музикантів, а остаточно завершено вже спільно із новими учасниками "Фіолету". А ви теж із Києвом "на ти"?
   
   
   Біллі Мілліґан Бенд – Кожному своє (кліп)
   Одразу за прем’єрою нового альбому музиканти "Біллі Мілліґан Бенд" видали на його підтримку офіційне відео до титульної пісні "Кожному своє", наповнивши його символізмом, алегоріями та особливим сенсом. За словами артистів, у сценарії їхнього нового відео показано сплетіння світла і темряви, яке відбулося для того, щоб утворити щось унікальне, нове, особливе та живе. І цій новій формі життя доведеться зіткнутися з певними випробуванням, які здатні підготувати її до подальших життєвих труднощів.
   
   Водночас, підкреслює вокаліст Макс Прудеус, світло і темрява – це дві крайнощі, наче безапеляційні поняття добра і зла, які панують у суспільних думках сьогоденної України. Тому ще одне завдання кліпу "Кожному своє" полягає у тому, щоб нагадати глядачу про те, що не все у житті відверто однозначно. "Єдине, що має сенс, – це допомогти знайти кожному своє", – наголошують "Біллі Мілліґан Бенд".
   
   Ловіть порцію філософії:
   
   
   Женя і Катя – Літаки (кліп)
   До вашої уваги ще один музичний спомин літнього тепла в осінню погоду – новий кліп чуттєвого проекту "Женя і Катя" під назвою "Літаки". Основний лейтмотив відео – історія пари людей, які з самого дитинства і донині до безтями закохані в музику, і ще більше – один в одного. Під терміном "літаки з паперу й слів", про який "Женя і Катя" згадують у своїй роботі, криється не що інше, як їхні власні твори, уся та музика, що прямує чартерним рейсом від авторів до слухачів.
   
   Окрім того, у кліпі символічно змальовано основний життєвий шлях людини, втілений у кадрі двома парами акторів. До слова, самі Женя Мартинюк і Катя Тітченко також з'являються у кліпі, символізуючи юність, почуття гармонії, романтизму і закоханості, які мають завжди лишатися у серці, не дивлячись на швидкоплинні роки. Зйомки ніжної роботи проходили у столичному ботанічному саду.
   
   Дуже чуттєва новинка, гляньте:
   
   
   А яка новинка сподобалася вам найбільше? Пишіть у коментарях!
   
   Читайте також: Притула кумедно виконав найвідоміший хіт Олега Винника: ексклюзивне відео
   
   Джерело: Радіо МАКСИМУМ Теги: Слухай українське!  Україна  Українська музика  Музика  Шоу-біз
   ДО ТЕМИ
   Трішки тепла: нідерландський дизайнер створила ідеальну куртку - Радіо Максимум
   Гайтана потішила шанувальників стильним образом - Радіо Максимум
   Дикі кабани атакували німецьке місто: моторошне відео - Радіо Максимум
   КОМЕНТАРІ
   
   РЕКОМЕНДУЄМО
   Притула кумедно виконав найвідоміший хіт Олега Винника: ексклюзивне відео 16:10, 20 жовтня  2554 3
   В.І.Н. не Р.А.Б. та інші книжки бабиного літа, які варті вашої уваги 15:15, 19 жовтня  292 31
   Гід по стилю. Чоловічий кардиган: практичні та стильні поєднання 20:00, 18 жовтня  989 3
   НОВИНИ
   ГОЛОВНІ
   ОСТАННІ
   18:00 10 нових українських пісень, які вас вразять 
   17:41 У США в ресторані камери спостереження зняли привида: моторошне відео 
   17:22 Цей смачний овоч допомагає кинути курити без шкоди для фігури 
   16:59 Гайтана потішила шанувальників стильним образом 
   16:42 Трішки тепла: нідерландський дизайнер створила ідеальну куртку 
   Я не схожий на чувака з постерів: інтерв'ю із зіркою Сторожової застави, який вижив у ДТП
   16:27 В Індії заборонили жінкам публікувати свої фото в соцмережах
   16:06 Фронтмен Бумбоксу розповів про старий скандал на росТБ 
   15:51  Більше тисячі компаній пішли з Каталонії
   15:33 Дикі кабани атакували німецьке місто: моторошне відео 
   15:17 Lady Gaga похвалилася спортивною фігурою в спортзалі 
   15:00 Енциклопедія їжі. Рецепти корисних смаколиків без цукру 
   14:48 Синоптик попередила про різке похолодання
   14:22 Скільки українців залишаються без меддопомоги: моторошні цифри
   Говори красиво: 20 типових помилок, які ми найчастіше допускаємо в українській мові 
   13:54 Яким буде концепт майбутнього Nokia 9
   13:29  Victoria's Secret привітала свою модель ефектним відео 
   12:55 Більшості все одно: українська акторка відверто про війну на Донбасі 
   12:29 Сучасне мистецтво? Дивний малюнок Трампа продали за 16 тисяч доларів 
   11:53 Ці ведмеді підкорили мережу витівками з жердиною: кумедні фото 
   11:30 Кендалл Дженнер вразила фанів неймовірним образом 
   10:57 Як виглядає кладовище електричок в Індонезії 
   10:29  Гурт Maroon 5 випустив новий "алкогольний" трек 
   09:55 З'явилося перше панорамне відео столиці Північної Кореї 
   09:31 Джамала показала яскраві фото з відпочинку 
   </p>